/* colors  */
/* hotpink */
/* slateblue */
body{
    /* background: rgb(89,128,203); */
    /* background: linear-gradient(90deg, rgba(89,128,203,1) 0%, rgba(130,179,233,0.5214460784313726) 97%); */
    background-color: whitesmoke;
/* background: linear-gradient(90deg, rgba(230,229,240,1) 0%, rgba(251,252,255,0.5214460784313726) 100%); */
}
*{
    border: 0;
    padding: 0;
    margin: 0;
}

/* NAVBAR */
.container-navbar {
    padding: 10px;
}
.container-navbar img {
    width: 180px;
    height: 60px;
}
.container-navbar a:hover{
    color: blue;

}
/* SIGNUP */
.container-signup {
    margin-top: 2rem;
    padding: 2rem;
}
.container-signup form {
    border: 1px solid grey;
    padding: 2rem ;
    border-radius: 10px;
    animation: expand .5s ease-in-out;
}

/* LOGIN */

.container-login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vw;
}
.container-login form {
    /* width: 250px; */
    animation: expand .5s ease-in-out;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 2rem;
}
@keyframes expand{
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}
.container-login form img {
    width: 180px;
    margin-bottom: 2.5rem;
    padding: 1rem;
}
/* CONTAINER ACCORDION */
.container-card{
    border: none;
}
.container-accordion  {
}

/* USERS */
.container-users {
    padding: 2rem;
}
.container-users img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}
.container-userItem{
    text-align: center;
}

/* ICONS*/
.icon-profile:hover {
    color: grey;

}
.icon-share {
    font-size: 1.5rem;
}
.container-modal {
    position: fixed;
    top: 10px;
    padding: 4rem;
}

.container-profile  .fc::-webkit-scrollbar{
    /* display: none; */
    /* border: 1px solid green; */
    /* font-size: 16px; */
}

.fc-day{
    color: white;
    /* border-radius: 4px; */
    background-color: slateblue!important;
}
.fc-day:hover {
    background-color: red;
}
.fc-daygrid-day{
    /* background-color: indianred; */
}
.fc-day-today{
  background-color:hotpink!important;
}
.fc-daygrid-day-frame{
    border-radius: 4px;
}
.fc-scroller::-webkit-scrollbar{
    /* display: none; */
}
.fc-daygrid-body tbody {
    /* border-radius: 10px; */
}
.fc-daygrid-bg-harness {
    background-color: slateblue;
}
.fc-non-business {
    color: white;
    /* background-color: aqua; */

}
.fc-scrollgrid-section {
    margin-top: 4rem;
    /* border: 1px solid green; */
}
.fc .fc-col-header-cell-cushion {
  display: inline-block;
  padding: 25px 4px;
}
/* container profile */
.container-profile {
    margin-top: 2.5rem;
    padding: 2rem;

}

/* FORM */


.container-form {
    display: flex;
    flex-direction: row;
    /* border: 1px solid green; */
}
/* MODAL */
.container-modal .form {
    width: 700px;
}
.container-modal .container{
    background-color: white;
    width: 122%;
}
.fc .fc-col-header-cell-cushion { /* needs to be same precedence */
  padding-top: 50px; /* an override! */
  padding-bottom: 5px; /* an override! */
}
.registerLottie {
    border: 1px solid green;
    margin-left: 3rem;
    size: 100px;
}
/* HOME */
.container-banner {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-banner-text{
    /* border:1px solid green; */
    text-align: left;
}
.container-banner-text h1 {
    padding-bottom: 10px; 
    font-size: 3.5em;
}
.container-banner-text p {
    font-weight: 450;
    font-size: 1.2em;
}
.container-profile-information {
    border-radius: 4px;
    padding: 2rem;
    /* border: 1px solid grey; */
}

.container-userItem img {
    border: 1px solid green;
    border-radius: 50%;
}