/* Watch this video */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');


.container-card{
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    width: 100%;
    margin-bottom: 1.5rem;
    background-color: transparent; 
}

.container-card img{
    width: 210px;
    height: 210px;
}
.container-card img:hover{
    transform: scale(1.1);
}

.container-card h2{
    margin: 10px 0;
}

.container-card .cont {
    /* color: black; */
    height: 140px;
    padding: 40px;
}
.container-card .cont i{
    margin-top: 14px;
    color: transparent;
    padding: 0rem 1rem 1rem 0;
}
.container-card .cont{
    width: 90%;
    margin-top: 20px;
    overflow: hidden;
    text-align: left;
    color: black;
    transition: all .5s ease;
}

.container-card .cont .link i{
    font-size: 16px;
    color: rgb(82, 82, 82);
    transition: all .3s ease;
}

.container-card .cont .link i:hover{
    color: black;
    cursor: pointer;
}

.cont h1 {
    font-size: 12px;
}
.container-card:hover > .cont{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    text-align: left;
    color: black;
    height: 250px;
}

.container-card:hover > .link{
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.container-card link i {
    color: white;
}