/* Watch this video */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');


.container-card{
    display: flex;
    flex-direction: row;
    /* align-items: left; */
    /* padding: 4rem; */
    /* margin-top: 2.5rem; */
    border-radius: 15px;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    width: 100%;
    padding-bottom: 15px;
    margin-bottom: 1.5rem;
    background-color: transparent; 
    /* border: 1px solid green; */
}

.container-card img{
    width: 210px;
    height: 210px;
    animation: expand 1s ease-in-out;
}
.container-card img:hover{
    transform: scale(1.1);
}
.container-card:hover  .container-card img{
    border: 1px solid green;
    /* transform:  rotateY(180deg); */
}

.container-card h2{
    margin: 10px 0;
}

.container-card .cont {
    padding: 40px;
    /* border: 1px solid green; */
}
.container-card .cont i{
    /* border: 1px solid green; */
    padding: 0rem 1rem 1rem 0;
}
.container-card .cont{
    width: 90%;
    height: 0px;
    margin-top: 20px;
    /* padding: 10px 10px 15px 20px; */
    overflow: hidden;
    text-align: left;
    color: white;
    transition: all .5s ease;
    /* border: 1px solid green; */
}

.container-card .cont .link i{
    font-size: 16px;
    color: rgb(82, 82, 82);
    transition: all .3s ease;
}

.container-card .cont .link i:hover{
    color: black;
    cursor: pointer;
}

.container-card:hover > .cont{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    text-align: left;
    color: black;
    height: 180px;
}

.container-card:hover > .link{
    width: 80%;
    display: flex;
    justify-content: space-between;
}